* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "FiraCode Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border-radius: 5px;
}

window#waybar {
    border-radius: 0;
    /* background-color: rgba(17, 34, 51, 0.9); */
	background-color: #282a36;
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #282a36;
}

window#waybar.chromium {
    background-color: #282a36;
    border: none;
}

#workspaces button {
    padding: 0px 8px;
    background-color: transparent;
    color: #f8f8f2;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 4px 4px 0 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #f8f8f2;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #f8f8f2;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #f8f8f2;
}

#clock,
#battery,
#bluetooth,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language
#mpd
#mpd.disconnected
#mpd.stopped
#mpd.paused {
    margin: 5px 1px;
    padding: 5px 10px;
    background-color: #f8f8f2;
    color: #282a36;
}

#language {
    margin: 5px 1px;
    padding: 5px 10px;
    background-color: #f8f8f2;
    color: #282a36;
    min-width: 20px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.charging, #battery.plugged {
    color: #282a36;
    background-color: #f8f8f2;
}

@keyframes blink {
    to {
        background-color: #f8f8f2;
        color: #282a36;
    }
}

#battery.critical:not(.charging) {
    color: #282a36;
    background-color: #f8f8f2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #282a36;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #f8f8f2;
    color: #282a36;
    margin: 5px 1px;
    padding: 5px 10px;
}

#mpd.disconnected {
    background-color: #f8f8f2;
    color: #282a36;
    margin: 5px 1px;
    padding: 5px 10px;
}

#mpd.stopped {
    background-color: #f8f8f2;
    color: #282a36;
    margin: 5px 1px;
    padding: 5px 10px;
}

#mpd.paused {
    background-color: #f8f8f2;
    color: #282a36;
    margin: 5px 1px;
    padding: 5px 10px;
}

#keyboard-state {
    background: #97e1ad;
    color: #282a36;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
